{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="card">
      <div class="card-header text-bg-success text-center">
        <h4>{{title}}</h4>
      </div>
      <div class="card-body">
        <form action="" method="post" novalidate>
          {{form.hidden_tag()}}
          <div class="mb-3">
            {{form.username.label(class='form-label')}}
            {% if form.username.errors %}
              {{form.username(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                  
                </div>
            {% else %}
                {{form.username(class='form-control')}}
            {% endif %}
            
          </div>
          <div class="mb-3">
            {{form.email.label(class='form-label')}}
            {% if form.email.errors %}
            {{form.email(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                      <span>{{error}}</span>
                  {% endfor %}
                  
                </div>
            {% else %}
                {{form.email(class='form-control')}}
            {% endif %}
            
          </div>
          <div class="mb-3">
            {{form.password.label(class='form-label')}}
            {% if form.password.errors %}
                {{form.password(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{error}}</span>
              {% endfor %}
                </div>
                
             
            {% else %}
                {{form.password(class='form-control')}}
            {% endif %}
            
          </div>
          <div class="mb-3">
            {{form.confirm_password.label(class='form-label')}}
            {% if form.confirm_password.errors %}
                {{form.confirm_password(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                  <span>{{error}}</span>
              {% endfor %}
                </div>
                
                
            {% else %}
                {{form.confirm_password(class='form-control')}}
            {% endif %}
            
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-outline-success">
              <i class="bi bi-card-checklist"></i>
              {{form.submit.label.text}}
            </button>
            
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
